<div class="table-container">
  <table mat-table [dataSource]="routes()" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="sort('address')"
      >
        Адрес назначения
      </th>
      <td mat-cell *matCellDef="let route">
        {{ route.address }} {{ route.mask }}
      </td>
    </ng-container>

    <ng-container matColumnDef="gateway">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="sort('gateway')"
      >
        Шлюз
      </th>
      <td mat-cell *matCellDef="let route">{{ route.gateway }}</td>
    </ng-container>

    <ng-container matColumnDef="interface">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="sort('interface')"
      >
        Интерфейс
      </th>
      <td mat-cell *matCellDef="let route">{{ route.interface }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
